<div class="custom-title-video">
  {{ section.settings.title  }}
</div>

<div class="video-custom page-width">
  <div class="">
    <video
      src="{{ section.settings.video.sources[1].url  }}"
      
      controls
      
      class="w-full h-full object-cover "
      loop></video>
  </div>


</div>

<style>
  .custom-title-video{

    text-align: center;
    padding-bottom: 3rem;
    font-size: 38px;
    text-decoration: underline;
  }

  .video-custom{
    width: 100%;
    padding-bottom: 8rem;
    max-width: 1200px;
    height: auto;
  }
  .video-custom video{
    width: 100%;
    height: auto;
  }
</style>
{% schema %}
  {
    "name": "Full Width Video",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },


      {
        "type": "video",
        "id": "video",
        "label": "video (if a video is uploaded it will be shown instead of the image)"

      },
      {
        "type": "image_picker",
        "id": "poster",
        "label": "poster image"
      }


    ],
    "presets": [
      {
        "name": "Video Custom",
        "category": "Custom"
      }
    ]

  }
{% endschema %}